<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple IFrames</title>
</head>
<body>

<h1>Multiple Iframes</h1>

<iframe id="iframe1" src="iframe1.html" style="width: 400px; height: 200px;"></iframe>
<iframe id="iframe2" src="iframe2.html" style="width: 400px; height: 200px;"></iframe>

<br>

<textarea id="bigBox" rows="10" cols="50" placeholder="Write anything here"></textarea>

</body>
</html>